main{
  font-family: 'Geist Thin', monospace;

  @apply
  
  mt-4 
  mb-8 mx-auto 
  max-w-7xl
}

.container{
  font-family: 'Geist Thin', monospace;

  @apply
  flex
  inline-block
  }


.page-post{
  @apply
  inline-flex
}
.text-discript{
  
  @apply
  p-7
  max-w-2xl
  text-left
/* bg-red-400 */
}



.module-logo{

  color: #D1D3D6;
  @apply
  
    text-7xl
    mx-auto
    inline-block
    p-3
    border-2
  /* bg-green-600 */

}
.module-type-container{
  @apply
  flex justify-center 

}
.module-type{
  @apply
  text-center
  max-w-3xl
  text-4xl
  /* bg-yellow-500 */
}


.module-img{
  @apply
  flex
  mx-1
}

.img{
  @apply
  px-5
}
.tech-discript{
  @apply
  mt-8
  mb-10
  mx-10

  max-w-sm

}
.video-container {
  @apply
  my-10
}