@tailwind base;
@tailwind components;
@tailwind utilities;

nav {

  font-family: 'Geist Mono', monospace;
@apply
  relative
  mt-4 
  mb-8
  mx-auto 
  max-w-7xl
  
}
nav .nav-menu{
  
  @apply
    pb-1
    flex items-center gap-2 
    /* my-10 */
}

nav h1 {
  
  color: #dcddde;
  @apply
    text-9xl
    tracking-tighter
    pb-4
    pt-4
    mx-auto
}
.btn{
  font-family: 'Geist Thin', monospace;
  color: #D1D3D6;
  @apply
  px-5
  py-1
  border
  border-[#D1D3D6]
  rounded-full
}

.btn:hover{
  @apply 
  border-gray-400
  text-gray-400
}
.logo{
  
  @apply
 
  border-2
  border-[#D1D3D6]
  rounded-full
  
}
.logo:hover{
  @apply
  border-gray-200
  /* brightness-75 */
}
