@tailwind base;
@tailwind components;
@tailwind utilities;


nav {

  font-family: 'Geist Mono', monospace;
@apply
  relative
  mt-4 
  mb-8
  mx-auto 
  max-w-7xl
}

nav
.text-center {
  font-family: 'Geist Mono', monospace;
  @apply
  text-gray-300
  m-5
  mt-56
}

p :hover{
  cursor: pointer;
  @apply
  text-white
  decoration-white
}

.underline{
  @apply
  text-2xl
}